.page-container {
  background-color: #eee;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

/* Main Body*/

.section-main {
  border: 1px solid red;
}

.card-sr {
  background-color: #fefefe;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 2rem;
}
.card-sr .image-uploader {
  border: 2px dashed rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}
.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header3 {
  font-weight: 800;
  font-size: 17px;
  line-height: 22px;
}
.preview-container {
  display: flex;
  overflow-x: scroll;
  width: auto;
}

.preview-card{
  flex-shrink: 0;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Footer */
.footer {
  grid-row: 2/3;
  background: #303036;
  color: #d3d3d3;
  height: 200px;
  position: relative;
}
.footer .footer-bottom {
  padding-top: 10px;
  width: 100%;
  background: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
